* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #181818;
  color: #eaeaea;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

.header{

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;

}

.add_board_btn {
  padding: 8px 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  width: 60%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  background: #242424;
  color: #eaeaea;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  
}

.add_board_btn:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  transform: scale(1.05);
}

.main_container {
  display: flex;
  gap: 2vw;
  padding: 2vh 2vw;
  flex-wrap: wrap;
  /* border: 1px solid; */
  justify-content: center;
}

.board {
  border-radius: 10px;
  height: 80vh;
  width: 400px;
  padding: 2vh;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  background: #242424;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 3vh 2vw;
  overflow-y: auto;
}

.board_title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  align-self: center;
}

.cards {
  align-self: flex-start;
  padding: 1vh 1vw;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  background: #2d2d2d;
  color: #eaeaea;
  transition: transform 0.2s ease-in-out;
  width: 100%;
  flex-grow: 0;
  overflow-y: auto;
  max-height: 60vh;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.cards:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  transform: scale(1.03);
}
.card_text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
  display: block;
  font-size: 1rem;
}

.card_input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
  display: none;
  background: #2d2d2d;
  border: 0;
  color: #eaeaea;
  font-size: 1rem;
}

.card_input:focus{

    outline: none;

}

.card_btn_con {

    display: flex;
    gap: 5px;

}

.card_edit_btn {
  padding: 4px 4px;
  display: block;
  color: #ffffff;
  background: #1e90ff;
  cursor: pointer;
  border: 1px solid #007acc;
  border-radius: 5px;
}

.card_edit_btn:hover {
  background-color: #007acc;
  border-color: #005f99;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.card_save_btn {
  padding: 4px 4px;
  display: none;
  color: #ffffff;
  background: #27ae60;
  cursor: pointer;
  border: 1px solid #1e8449;
  border-radius: 5px;
}

.card_save_btn:hover {
  background-color: #1e8449;
  border-color: #166534;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.card_delete_btn {
  padding: 4px 4px;
  display: block;
  color: #ffffff;
  background: #c0392b;
  cursor: pointer;
  border: 1px solid #922b21;
  border-radius: 5px;
}

.card_delete_btn:hover {
  background-color: #922b21; 
  border-color: #7b241c; 
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.add_task_btn {

  padding: 8px 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  width: 60%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  background: #242424;
  color: #eaeaea;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin-top: auto;
}

.add_task_btn:hover {
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  transform: scale(1.05);
}
